body,
main {
  background-color: hsl(30, 54%, 90%);
  font-family: Outfit, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main-card {
  background-color: white;
  border-radius: 24px;
  padding: 24px;
  max-width: 60%;
}
